{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />

    <title>Ingreso al sistema</title>
</head>
<body>
    {% load crispy_forms_tags %}
    <center>
    <div class="conteiner col-md-6 col-6">
        <br>
        <br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-2">
                <div class="card text-white bg-dark mb-3 text-left" >
                    <div class="card">
                    <div class="card-header text-center bg-warning" style="color:black;font-family:'Rockwell'"><h4>INGRESAR DATOS</h4></div></div>
                    <div class="card-body" style="color:white; font-family:'Rockwell'">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form | crispy }} 
                            <br>
                            <a href="{% url 'inicio' %}" style=color:orange>Inicio</a>
                            <br>
                            <br>
                            <input type="submit" value="Iniciar" class="btn btn-warning btn-lg btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </center>
</body>
</html>