{% load static %}
<!DOCTYPE html>
{% include "header.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/socios.css' %}">
    <title>Asociarse</title>
</head>
<body>
    <img src="{% static '' %}" width="1080" alt="">
<br>
<br>
<center>
  <section card>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</section>
  
  {% include 'footer.html' %}   
</body>

</html>