{% load static %}
<!DOCTYPE html>
{% include "header.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/socios.css' %}">
    <title>Asociarse</title>
</head>
<body>
    <img src="{% static '' %}" width="1080" alt="">
<br>
<br>
<center>
  <section card>
  <div class="card" style="background-color:transparent">
    <div class="card-body">
      <h5 class="card-title" style="font-family:Georgia, 'Times New Roman', Times, serif, Times, serif; color:rgb(236, 119, 9) ; font-size:35px; text-align: start; padding-left:60px">
      <b> ASOCIATE </b></h5>
      <br>
      <p class="card-text" style="font-family:Rockwell; font-size:22px; text-align:left">
        En esta asociasión fomentamos la iniciativa de la solidaridad y la colaboración, ante la problemática de los altos costos
con respecto a esta enfermedad, nos vemos comprometidos como cuidadanos a recibir y brindar ayuda de manera gratuita para prevenir
y apoyar a los pacientes.    <br>Dicho esto, desde la casita de LALCEC Saenz Peña, te invitamos a sumarte a ser socio, esto consiste en 
pagar una módica cuota de tan solo $100 por mes.    <br>Con tu aporte ya estas ayudando a muchos a recibir su tratamiento a tiempo,
agradecemos humildemente que decidas formar parte de esta hermosa familia.   <br>
      </p>

    </div>
  </div>
  <br>
  <br>
</section>
  
  {% include 'footer.html' %}   
</body>

</html>