{% load static %}
{% include "head.html" %}

<!DOCTYPE html>
<html>

  <!-- footer section -->
  <section class="footer" id="footer">
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              <p style="color:rgb(224, 120, 0); font-family:'Rockwell' ">
              Contactanos
            </h4>
            <div class="contact_link_box">
              <a href="https://www.google.com.ar/maps/place/Dorrego+478,+H3700IAJ+S%C3%A1enz+Pe%C3%B1a,+Chaco/@-26.7864237,-60.4489086,17z/data=!3m1!4b1!4m5!3m4!1s0x94412ce3c68bc62f:0xecccf198064f1258!8m2!3d-26.7864285!4d-60.4467145?hl=es-419">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Dirección: Dorrego 472, </br>Sáenz Peña, Chaco
                </a>
                  CP: H3700IAJ
                </span>
              </a>
              <a>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  LLamanos: 0364 410-5595
                </span>
              </a>
              <a>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  lalcecspchaco@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <div class="footer-logo">
            <h4>
              <p style="color:rgb(224, 120, 0); font-family:'Rockwell' ">
              Nuestras Redes
            </div>
            </h4>
            <p>
              Podés contactarnos también por nuestras redes, siguiendonos en:
            </p>
            <div class="footer_social">
              <a href="https://www.facebook.com/LALCECHACO/">
                <i class="fa fa-facebook" aria-hidden="true"style="color:blue"></i>
              </a>
             <!-- <a href="">
               <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
              <a href=""> -->
                <!-- <i class="fa fa-linkedin" aria-hidden="true"></i> -->
              </a>
              </a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
              <a href="https://www.instagram.com/lalcecspchaco/">
                <i class="fa fa-instagram" aria-hidden="true"style="color:red"></i>
              </a>
            </a>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
              <a href="https://api.whatsapp.com/send?phone=5493644665055">
                <i class="fa fa-whatsapp" aria-hidden="true"style="color: #25d366"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            <p style="color:rgb(224, 120, 0); font-family:'Rockwell' ">
            Nuestros horarios:
          </h4>
          <p>
            De Invierno:
            <p>
              Lunes a viernes
              8.00 - 12.00 & 15.00 - 19.00
            <p>
          <P>
          <P>
            De Verano:
            <p>
              Lunes a viernes
              8.00 - 12.00 & 16.00 - 20.00
            <p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="">LALCEC - Saenz Peña, Chaco</a><br><br>
        <!--    &copy; <span id="displayYear"></span> Distributed By
          <a href="https://themewagon.com/" target="_blank">ThemeWagon</a> -->
        </p>
      </div>
    </div>
  </footer>
</section>
  <!-- footer section -->
