{% load static %}

{% include "head.html" %}

<!DOCTYPE html>
<html>
    
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
         <!-- <a class="navbar-brand" href="index.html">
            <span style="color:black ; font-family:'Rockwell'">
              LALCEC
            <br>
              Saenz Peña  
            </span>
          </a>  -->

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'inicio' %}" style="color:black"><b>INICIO</b> <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="menu.html"  style="color:black"><b>SOBRE NOSOTROS</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html" style="color:black"><b>CONSULTORIO</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html" style="color:black"><b>CONTACTO</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'registro'%}"  style="color:black"><b>REGISTRARSE</b></a>
              </li>   
              <!--<li class="nav-item">
                <a class="nav-link" href="book.html">Book Table</a>
              </li>-->
            </ul>
            <div class="user_option">
              <a href="" class="user_link" >  <!--  -->
                 <a class="btn btn-orange" href="{% url 'login' %}" style="color:white"><b>LOGIN</b></a>
              </a>
              
    </header>
    <!-- end header section -->