{% load static %}

<!DOCTYPE html>
<html>

{% include "head.html" %}

<body>

  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'images/lalcecenfoco.png' %}" alt="">
    </div>

{% include "header.html" %}

    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row; row d-flex justify-content-end">
                <div class="col-md-7 col-lg-8 ">
                  <div class="detail-box">
                    <h1 style="color:rgb(255, 136, 0); font-family:'Rockwell'">
                      Liga Argentina de Lucha Contra el Cáncer
                    </h1>
                    <p style="color:black; font-family:Modern No.20">
                      <b>La Liga Argentina de Lucha Contra el Cáncer (LALCEC) es una organización de la sociedad civil creada el 22 de julio de 1921 por la señora Helena Larroque de Roffo quien, ya desde ese entonces, afirmaba que la mejor manera de reducir la incidencia del cáncer es trabajando en la prevención y la detección temprana de la enfermedad.</b>
                    </p>
                    <div class="btn-box">
                      <a href="{% url 'sobre_nosotros' %}" class="btn1" style="color:rgb(255, 255, 255); background-color: rgb(255, 136, 0);">
                       <b> Sobre Nosotros </b>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row; row d-flex justify-content-end">
                <div class="col-md-7 col-lg-8 ">
                  <div class="detail-box">
                    <h1 style="color:rgb(255, 136, 0); font-family:'Rockwell'">
                      Programas
                    </h1>
                    <p style="color:black; font-family:Modern No.20">
                      <b>Para cumplir con nuestra misión de reducir la mortalidad del cáncer en Argentina es que trabajamos con diversos programas de detección temprana y prevención de la enfermedad. </b>
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1" style="color:rgb(255, 255, 255); background-color: rgb(255, 136, 0);">
                       <b> Nuestros Programas </b>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row; row d-flex justify-content-end">
                <div class="col-md-7 col-lg-8 ">
                  <div class="detail-box">
                    <h1 style="color:rgb(255, 136, 0); font-family:'Rockwell' ">
                      Hacé la diferencia
                    </h1>
                    <p style="color:black; font-family:Modern No.20">
                        <b>Con tu aporte le estás brindando la oportunidad a miles de personas de detectar su enfermedad a tiempo y colaboras para seguir concientizando en todo el país.

                          Además, el dinero será destinado a los talleres que brinda el área psicosocial de LALCEC para acompañar a todos aquellos que están en tratamiento y sus familias.</b>


                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1" style="color:rgb(255, 255, 255); background-color: rgb(255, 136, 0);">
                       <b> Asociarse </b>
                      </a> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container; row d-flex justify-content-center">
          <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active" ></li>
            <li data-target="#customCarousel1" data-slide-to="1" ></li>
            <li data-target="#customCarousel1" data-slide-to="2" ></li>
          </ol>
        </div>
      </div> 

    </section>
    <!-- end slider section -->
  </div>

  <!-- food section -->
<!--
   <section class="food_section layout_padding-bottom">
    <div class="container">
      <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/campañas.png' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Campañas
                  </h5>
                  <p>
                    Conocé cada una de ellas 
                  </p> 
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all burger">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/noticias.jpg' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Noticias
                  </h5>
                  <p>
                    ¡Novedades y Posteos!
                  </p>
                 
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{% static 'images/lifestyle.jpg' %}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Bienestar
                  </h5>
                  <p>
                    Te ayudamos a llevar una vida más saludable
                  </p>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
      </div>
    </div>
  </section>
  end book section -->
 {% include "mision.html" %}
  <!-- client section -->

  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>
          <p style="color:rgb(226, 128, 0); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
          ¡Dejanos tu comentario!
        </h2>
      </div>
      <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="" data-numposts="10">
    </div>
  </section>

  <!-- end client section -->

{% include "footer.html" %}

{% include "scripts.html" %}

</body>

</html>
