{% load static %}

<!DOCTYPE html>
<html>


<!--SECCIÓN MISIÓN-->
	<footer class="footer_section">
   		<div class="container"> 	
        	<div class="row">
        		


<!--NUESTRA MISIÓN-->
        		<div class="col-md-4 footer-col">     
	           			<div class="footer_contact">			
							<div id="comp-l02vbj77" class="XUUsC">
		 						<div data-testid="linkElement" class="xQ_iF">
									<!--<img src="https://static.wixstatic.com/media/d06361_d72a9dfc559b41989d4afc6fb8fc3efa~mv2.jpg/v1/fill/w_85,h_85,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/1mision.jpg" fetchpriority="high" style="width: 100px; height: 100px; object-fit: cover;"></br>
									</img></br-->
										<h1 style="font-size:40px; line-height:1em; text-align:center; color:rgb(224, 120, 0); font-family:Rockwell"><b>MISIÓN</b>
										</h1>
										<p style= 'font-size:15px; text-align:center; color:rgb(165, 165, 165); font-family: Modern No.20 '>
												<b><i>Reducir la mortalidad del cáncer, trabajando día a día por ayudar a miles de personas a través de la prevención, educación y concientización. Además buscamos acompañar al paciente y su familia a través de nuestros programas de apoyo y contención.</i></b>	
											</p>
								</div>       
		 					</div>
						</div>	
		           	</div>



<!--NUESTRAS VISIÓN-->
	        		<div class="col-md-4 footer-col">     
	           			<div class="footer_contact">			
							<div id="comp-l02vbj77" class="XUUsC">
		 						<div data-testid="linkElement" class="xQ_iF">
									<!--img src="https://static.wixstatic.com/media/d06361_859911276d8d43f389f03918c846d469~mv2.jpg/v1/fill/w_88,h_88,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/2vision.jpg" fetchpriority="high" style="width: 100px; height: 100px; object-fit: cover;"></br>
									</img></br-->
										<h1 style="font-size:40px; line-height:1em; text-align:center; color:rgb(224, 120, 0); font-family:'Rockwell"> <b>VISIÓN</b>
										</h1>
											<p style="font-size:15px; text-align:center; color: rgb(165, 165, 165); font-family: Modern No.20">
												<b><i>Alcanzar una Argentina sin cáncer educando a la población y garantizando en todo el país la prevención y la detección temprana de la enfermedad además de acompañar al paciente y su familia.</i></b>	
											</p>
								</div>       
		 					</div>
						</div>	
		           	</div>
		           


<!--NUESTROS VALORES-->	           		
	           		<div class="col-md-4 footer-col">     
	           			<div class="footer_contact">			
							<div id="comp-l02vbj77" class="XUUsC">
		 						<div data-testid="linkElement" class="xQ_iF">
									<!--img src="https://static.wixstatic.com/media/d06361_d26ecf4c235d422bb0344510f2befbbb~mv2.jpg/v1/fill/w_88,h_88,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/3valores.jpg" fetchpriority="high" style="width: 100px; height: 100px; object-fit: cover;"></br>
									</img></br-->
										<h1 style="font-size:40px; line-height:1em; text-align:center; color:rgb(224, 120, 0); font-family:Rockwell"><b>VALORES</b>
										</h1>
											<p style="font-size:15px; text-align:center;color:rgb(165, 165, 165); font-family:Modern No.20 ">
											<i><b>Solidaridad, compromiso, honestidad, responsabilidad y empatía.	</b></i>
											</p>
								</div>       
		 					</div>
						</div>	
		           	</div>

	               


            </div> 
		</div>	
    </footer>            
	