{% load static %}

<!DOCTYPE html>
<html>

{% include "head.html" %}

<body>

  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'images/lalcecenfoco.png' %}" alt="">
    </div>

{% include "header.html" %}

<div class="container bootstrap snippets bootdey">
    <h1 class="text-primary">Edit Profile</h1>
      <hr>
  <div class="row">
      <!-- left column -->
      <div class="col-md-3">

      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">

        <h3>Datos de usuario</h3> <br>
        
        <form method="post" action="" class="form-horizontal" autocomplete="off" enctype="multipart/form-data" >
          {% csrf_token %}
          <div class="form-group">
            <label class="col-lg-3 control-label">Usuario</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="{{user.username}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Nombre</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="{{user.first_name}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Apellido</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="{{user.last_name}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="{{user.email}}">
            </div>
          </div>
        <br>


        <input type="submit"  value="Guardar cambios"class="btn btn-success" style="color:white">


        </form>


      </div>


  </div>

</div>
<hr>
{% include "scripts.html" %}
</div>
</body>

{% include "footer.html" %}

</html>
