<!DOCTYPE html>
{% load static %}
{% include "head.html" %}
{% include "header.html" %}

<body>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <a href={% url 'post' post.id %}> <h1 class="fw-bolder mb-1" ; style= "color:orangered ;font-family:Georgia, 'Times New Roman', Times, serif">{{post.title}}</h1> </a>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on {{post.created_date}} by {{post.author}}</div>
                            <!-- Post categories-->
                            <!--a class="badge bg-secondary text-decoration-none link-light" href="#!">NOTICIA</a-->
                            
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{post.imagen.url}}" alt="" />
                        </figure>
                        <!-- Post content-->
                        <section class="mb-5"; style="color:black; font-family:Modern No.20">
                            <p class="fs-5 mb-4"> {{post.text | safe }} </p>
                            {% if user.is_authenticated %}
                            <a href="{% url 'editar' post.id %}" style="color:Black; font-family: Arial, Helvetica, sans-serif;" class="btn btn-orange">Editar</a>
                            <a href="{% url 'eliminar' post.id %}" style="color:Black; font-family: Arial, Helvetica, sans-serif;" class="btn btn-orange">Eliminar</a>
                            {% else %}
                            <div class="user_option">
                                <a href="" class="user_link" >  <!--  -->
                              <a class="btn btn-orange" href="{% url 'login' %}" style="color:white"><b>LOGIN</b></a>
                              {% endif %}
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
      </div>
      <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="" data-numposts="10">
      </div>
                            </div>
                        </div>
                    </section>
                </div>
                </div>
            </div>
        </div>

{% include "footer.html" %}
{% include "scripts.html" %}

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/scripts.js' %}"></script>

</body>